@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.lobster {
  font-family: "Lobster", serif;
  font-weight: 400;
  font-style: normal;
}

/* body {
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scrollbar-face-color: transparent;
}

::-webkit-scrollbar {
  width: 0;
} */
